.container{
  display: grid;
  grid-template-areas: 
  'search-bar search-bar'
  'video-player video-list'
  'video-player video-list'
  ;
  grid-template-columns: 1fr 1fr;
}

.search-bar{
  grid-area: search-bar;
}

.video-player{
  grid-area: video-player;
  background: #e0e1e2;
  padding: 15px 15px;
}

.video-list{
  grid-area: video-list;
  background: #e0e1e2;
  padding: 15px 15px;
}

.video-title{
  font-weight: 600;
  color: #468284;
  padding: 10px;
}
